@tailwind base;
@tailwind components;
@tailwind utilities;

.statement-gradient {
  background: radial-gradient(rgba(13,1,43, 0.5), 40%, #000);
  background-size: 200%, 50%;
  background-position: center;
  background-repeat: no-repeat;
}