@tailwind base;
@tailwind components;
@tailwind utilities;

.statement-gradient {
  background: radial-gradient(hsl(var(--p) / 0.2), 40%, #111);
  background-size: 200%, 50%;
  background-position: center;
  background-repeat: no-repeat;
}